@media (min-width: 390px) and (max-width: 767px) {
  body {
    width: auto;
    height: auto;
  }
  /* banner */
  .text-banner h1 {
    font-size: 16px;
  }
  .text-banner span {
    text-align: left;
    padding: 20px;
    font-size: 12px;
  }
  .avatar img {
    display: none;
  }
  /* menu */
  .nav-menu {
    display: inline-grid;
    height: 170px;
  }
  .nav-menu a {
    border-left: none;
  }
  .nav-menu .nav-border {
    border-right: none;
  }
  section > .container {
    width: auto;
    padding: 20px 10px;
  }
  #about-grid {
    display: block;
    min-width: 390px;
  }
  #job-info .container,
  .box-grid {
    grid-template-columns: none;
    width: auto;
    min-width: 390px;
    margin: 0;
  }
  /* chung chi va dư an */
  .cer-grid {
    grid-template-columns: none;
  }
  .cer-content {
    display: block;
  }
  .cc-img {
    width: 300px;
    padding-left: 50px;
  }
  .cer-content-2 {
    padding-top: 20px;
    padding-left: 0px;
    border-left: none;
    border-top: 2px solid #f5dfcd;
  }
  .project-grid {
    grid-template-columns: none;
  }
  #project .project-grid {
    display: block;
    width: auto;
    min-height: 390px;
    margin: 0;
    margin-bottom: 20px;
  }
  /* footer */
  #footer ul li {
    display: block;
    text-align: left;
  }
}
